<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <h1 th:text="Detalles del Estudiante ${estudiante.nombre} ${estudiante.primerApellido}"></h1>
    <div>
        Telefonos:-->
    <!-- lista no ordenada, aparecerá en la vista como un "bulletpoint": -->
    <!--<ul>
            <li th:each="telefono : ${telefonos}" th:text="${telefono}"></li>
        </ul>
    </div> -->

    <h1 th:if="${estudiante != null}"
        th:text="'Detalles del estudiante ' + ${estudiante.nombre} + ' ' + ${estudiante.primerApellido}"></h1>

    <!-- alt sirve de descriptor de imagen -->
    <img alt="Imagen de un gato" th:src="@{/images/}+${estudiante.foto}">

    <div th:if="${telefonos != null}">

        <p>Telefonos:</p>

        <ul>

            <li th:each="telefono : ${telefonos}" th:text="${telefono}"></li>

        </ul>

    </div>
</body>

</html>